.switch {
  transition: height 1s;
}

.bigCard:hover .MuiCardMedia-img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.bigCard:hover .purple {
  height: 100%;
}
.framer-section {
  overflow: hidden;
}

.framer-section section {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}
